<li class="table-view-divider clearfix">
    <button id="loadLatest" class="btn btn-primary">Load Latest</button><span id="loadLatestErr" class="badge" style="margin-left: 20px;display:none">Nothing new added!</span>
    <div class="segmented-control pull-right">
        <% if (fs=='small') { %>
            <a id="font-small" class="control-item active">A</a>
        <% }else{ %>
            <a id="font-small" class="control-item">A</a>
        <% }%>
        <% if (fs=='large') { %>
            <a id="font-large" class="control-item active">A</a>
        <% }else{ %>
            <a id="font-large" class="control-item">A</a>
        <% }%>
    </div>
</li>