<li class="table-view-divider clearfix" id="latestwrapper">
    <button id="loadLatest" class="btn btn-primary">Load Latest</button><span id="loadLatestErr" class="badge" style="margin-left: 10px;display:none">Nothing new added!</span>
    <div class="segmented-control pull-right">
        <% if (fs=='small') { %>
            <a id="font-small" class="control-item active">A</a>
        <% }else{ %>
            <a id="font-small" class="control-item">A</a>
        <% }%>
        <% if (fs=='large') { %>
            <a id="font-large" class="control-item active">A</a>
        <% }else{ %>
            <a id="font-large" class="control-item">A</a>
        <% }%>
    </div>
</li>
<li class="table-view-divider clearfix" id="filters">
    <input type="search" id="text-search" placeholder="Search">
    <!--<a href="#popover" class="btn pull-right btn-filter"> Filters </a>-->
</li>